<OBJECT id=ZAS codeBase=http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0 height=100% width=100% align=center classid=clsid:D27CDB6E-AE6D-11cf-96B8-444553540000>
<PARAM NAME="movie" VALUE="/ZAS.swf">
<PARAM NAME="quality" VALUE="high">
<PARAM NAME="bgcolor" VALUE="#FFFFFF">
<PARAM NAME="wmode" VALUE="transparent">
<PARAM NAME="FlashVars" VALUE="FILTERED">

<EMBED src="/ZAS.swf" FlashVars="FILTERED">

</EMBED>
</OBJECT>