<% @image = Image.find(2) %>

<div id="pathway" style="text-align: center">
	<h3><%= @image.pathway.name %> Pathway</h3>
	<div style="float: left" id="lower"><%= link_to image_tag(@image.higher_item.url + 'TileGroup0/0-0-0.jpg'), :action => 'view', :name => @image.higher_item.name if @image.higher_item %></div>
	<div style="float: left" id="current"><%= image_tag(@image.url + 'TileGroup0/0-0-0.jpg', :id => 'current', :style => "margin: 0 auto") %></div>
	<div style="float: left" id="higher"><%= link_to image_tag(@image.lower_item.url + 'TileGroup0/0-0-0.jpg'), :action => 'view', :name => @image.lower_item.name if @image.lower_item %></div>
</div>