<div class="row">
<div class="cell label">Name</div><div class="cell"><%= text_field(:course, :name) %></div>
</div>
<div class="row">
<div class="cell label">Number</div><div class="cell"><span class="h4like"><%= DEPT_CODE %></span> <%= text_field(:course, :number, :size => 5, :maxlength => 5) %></div>
</div>