The password for the root user, <%= @root_username %>, has been reset. Its new value is

<%= @password %>

Please change this as soon as possible by logging in as the root user and visiting Account Management.

<%= @url %>