The password for the root user, <%= @root_username %>, has been successfully changed. Its new value is

<%= @password %>

You are the only user who will receive this e-mail. If the root account is used by multiple people, therefore, it is your responsibility to inform them of this new password.

*If you no longer wish to be the site owner for the University of Chicago Hospitals Virtual Microscopy System, please contact the designer, <%= @designer %>, with a new e-mail to replace this one.*

<%= @url %>